<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/style1.css">
    <title>Booking Done</title>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="../static/DA.png" height="60px" width="60px">
                <span class="ml-3 text-xl">Beach Activtiy Management System</span>
              </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a href = "/" class="mr-5 hover:text-gray-900">Home</a>
             
            <a href = "/CustomerBooking" class="mr-5 hover:text-gray-900">Customer Booking</a>
            <a href = "/Documentation" class="mr-5 hover:text-gray-900">Documentation</a>
            
          </nav>
          <a href = "/Team" > 
            <button  class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Team
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </a>
        </div>
    </header>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Booking Done !!</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s"></p>
            <div class="flex mt-6 justify-center">
              <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
            </div>  
          </div>
         
           
            
      </section>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

  

      <hr>

      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="../static/DA.png" height="50px" width="50px">
                <span class="ml-3 text-xl"></span>
              </a>
            <span class="ml-3 text-xl">Beach Activtiy Management System</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 BAMS_DBMS 
          </p>
          
        </div>
      </footer>

</body>
</html>