<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/style1.css">
    <title>Booking</title>
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="../static/DA.png" height="60px" width="60px">
                <span class="ml-3 text-xl">Beach Activtiy Management System</span>
              </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a href = "/" class="mr-5 hover:text-gray-900">Home</a>
             
            <a href = "/CustomerBooking" class="mr-5 hover:text-gray-900">Customer Booking</a>
            <a href = "/Documentation" class="mr-5 hover:text-gray-900">Documentation</a>
            
          </nav>
          <a href = "/Team" > 
            <button  class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Team
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </a>
        </div>
    </header>

    <div class="dsignupform">
        <center><p style="font-size: 45px;"> Please enter your details</p></center>
          <form style="margin-left:50px;"  action="/DoBooking" method="post"> 
            <p>Booking Date: <input type="date" required name="Booking_date"></p>
            <br>
            <p>Booking Time: <input type="text" required name="Booking_time"></p>
            <br>
            <p>Customer Id: <input type="number" required name="Customer_id"></p>
            <br>
            <p>Payment Id: <input type="number" required name="Payment_id"></p>
            <br>
            <p>Payment Method: &nbsp;&nbsp;
                <input type="radio" name="Payment Method" value="Cash"> Cash &nbsp;&nbsp;
                
                <br>
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;

                <input type="radio" name="Payment Method" value="Card"> Card &nbsp;&nbsp;
                
                <br>
                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;

                <input type="radio" name="Payment Method"value="Upi"> Upi
            </p>
            
            <br>
            <p>Payment Amount: <input type="number" required name="Payment_amount"></p>
            <br>
            <p>
              Activity: 
              <select name="activity_id" style="background-color: azure; border-width: 0.5px; border-color: black;">
                <option value = "Scuba Diving" name = "Scuba Diving"> Scuba Diving </option>
                <option value = "Snorkeling" name = "Snorkeling"> Snorkeling </option>
                <option value = "Paragliding" name = "Paragliding"> Paragliding </option>
                <option value = "Parasailing" name = "Parasailing"> Parasailing </option>
                <option value = "Flyboarding" name = "Flyboarding"> Flyboarding </option>
                <option value = "Windsurfing" name = "Windsurfing"> Windsurfing </option>
                <option value = "Beach Volleyball" name = "Beach Volleyball"> Beach Volleyball </option>
                <option value = "Jet Ski" name = "Jet Ski"> Jet Ski </option>
                <option value = "Kite surfing" name = "Kite surfing"> Kite surfing </option>
                <option value = "Beach Sprint rowing" name = "Beach Sprint rowing"> Beach Sprint rowing </option>
                <option value = "Banana Ride" name = "Banana Ride"> Banana Ride </option>
                <option value = "Speed Boat" name = "Speed Boat"> Speed Boat </option>
                <option value = "Dolphin Exploration" name = "Dolphin Exploration"> Dolphin Exploration </option>
                <option value = "FootVolley" name = "FootVolley"> FootVolley </option>
                <option value = "Beach Camping" name = "Beach Camping"> Beach Camping </option>
                <option value = "Beach Yoga" name = "Beach Yoga"> Beach Yoga </option>
                <option value = "Tug of War" name = "Tug of War"> Tug of War </option>
                <option value = "Swimming with Sharks" name = "Swimming with Sharks"> Swimming with Sharks </option>
                <option value = "Sailing" name = "Sailing"> Sailing </option>
                <option value = "Boating" name = "Boating"> Boating </option>
              </select>
            </p>
            <br>
            <p style="font-size: 15px; font-family:Arial, Helvetica, sans-serif;"> <u> <a href = "/CustomerId"> View Customer_id </a> </u>  </p>
            <br> 

            <p>
                <a href="/DoBooking">
                <input type="submit" value="Submit" style="background-color: rgb(31,24,135); color:white; border-radius: 20px; padding: 15px; text-align: center;font-size: 16px; margin: 4px 15px; cursor: pointer; display: inline-block; width: 100px; height: 55px; border-color: rgb(31, 24, 135);">
            </a>
            </p>
        </form>
    </div>



    <br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>

    <hr>

      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="../static/DA.png" height="50px" width="50px">
                <span class="ml-3 text-xl"></span>
              </a>
            <span class="ml-3 text-xl">Beach Activtiy Management System</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 BAMS_DBMS 
          </p>
          
        </div>
      </footer>

</body>
</html>